/* You can add global styles to this file, and also import other style files */
body{
    background-image: url("./assets/bg.jpg");
    height: 100%;
    background-position: center;
    color: black;
    background-size: cover;
}