<div>
  <div class="modal-dialog modal-login">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Регистрация</h4>
      </div>
      <div class="modal-body">
        <div class="msg-error red">
          <div id="msg" class="center"></div>
          <ul id="formError"></ul>
        </div>
        <form>
          <div class="form-group">
            <i class="material-icons">person</i>
            <input id="email" type="email" class="form-control" placeholder="E-mail" required="required">
          </div>
          <div class="form-group">
            <i class="material-icons">lock</i>
            <input id="password" type="password" class="form-control" placeholder="Пароль" required="required">
          </div>
          <div class="form-group">
            <i class="material-icons">sync</i>
            <input id="passwordConfirm" type="password" class="form-control" placeholder="Подтверждение пароля" required="required">
          </div>
          <div class="form-group">
            <button class="btn btn-dark btn-block btn-lg" (click)="signIn()">Зарегистрироваться</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
