<div class="jumbotron jumbotronWelcome center">
  <h1 class="display-4 center">Добро пожаловать!</h1><br />
  <p class="lead"><b>Данный сайт является витриной кондитерских изделий магазина Tasty Lary.</b></p>
  <p class="lead"><b>Здесь Вы можете:</b></p>
  <b>
    <p>Посмотреть информацию об интересующих Вас изделиях</p>
    <p>Посмотреть отзывы по изделиям</p>
    <p>Оставить свой отзыв</p>
    <p>Поставить отметку изделиям</p>
  </b>
</div>