<div class="card border-dark card-color mb-3" style="max-width: 20rem;">
  <h4 class="card-header bg-transparent border-dark row">
    <div class="col-8">{{ pastry.name }}</div>
    <button *ngIf="isAdmin" (click)="edit()" class="col-2 btn green-color" ><i class="material-icons">build</i></button>
    <button *ngIf="isAdmin" (click)="delete()" class="col-2 btn red-color" ><i class="material-icons">clear</i></button>
  </h4>
  <div class="card-body">
    <p class="card-title">Тип изделия: {{ pastry.pastryType.name }}</p>
    <p class="card-text">Срок хранения: {{ pastry.shelfLife }} дн.</p>
    <p class="card-text">Дата производства: {{ pastryDate }}</p>
    <p class="card-text">Количество: {{ pastry.quantity }} шт.</p>
    <h5 class="card-text">Цена: {{ pastry.price }} руб.</h5>
    <br />
    <a class="btn-outline-info btn" (click)="selectPastry()">Отзывы</a>
    <div id="feedBacksMain-{{pastry.id}}"></div>
    <br />
  <div class="card-footer">
    <button (click)="like()" [ngClass]="vote === true?'dark-green-color':'green-color'" class="col-md-6 btn" >
        <i class="material-icons">thumb_up</i><b>  {{likes}}</b>
    </button>
    <button (click)="dislike()" [ngClass]="vote === false?'dark-red-color':'red-color'" class="col-md-6 btn" >
        <i class="material-icons">thumb_down</i><b>  {{dislikes}}</b> 
    </button>
  </div>
  <div class="card-footer">
    <button class="col-12 btn btn-outline-dark" *ngIf="!hasFeedBack" (click)="sendFeedBackView()">Оставить отзыв</button>
    <button class="col-12 btn btn-outline-dark" *ngIf="hasFeedBack" (click)="deleteFeedBackBody()">Удалить отзыв</button>
    <div id="sendfeedBackView-{{pastry.id}}" *ngIf="showFeedBackView">
        <br />
        <div class="row">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">Отзыв</span>
            </div>
            <input type="text" class="form-control" aria-describedby="basic-addon1" [(ngModel)]="feedback">
          </div>
          <button type="button" class="btn btn-primary" (click)="sendFeedback()"> Отправить </button>
        </div>
    </div>
  </div>
</div>
</div>