.pastry-style{
    margin-bottom: 5;
}

.green-color{
    color: green;
}

.red-color{
    color: red;
}

.dark-red-color{
    color: rgb(168, 0, 0);
}

.dark-green-color{
    color: rgb(0, 88, 0);
}

.row{
    margin-left: 0;
    margin-right:0;
}

.card-color{
    background-color: #ffffffcf;
}