<div class="container">
  <br>
  <div class="row">
  <h2 class="col-md-4">Кондитерские изделия</h2>
  <button *ngIf="isAdmin" type="button" class="col-md-2 btn btn-outline-dark" data-toggle="modal" data-target="#createNewPastryModal">Добавить</button>
  <button id="editButton" type="button" class="col-md-2 btn btn-outline-dark" hidden="true" data-toggle="modal" data-target="#editPastryModal">Изменить</button>  
  </div>
  <br>
  <div class="row">
      <app-pastry class="pastry-style col-md-4" *ngFor="let pastry of pastries" (onChanged)="onDelete($event)" (editEvent)="EditPastry($event)" (reloadEvent)="reload()" [pastry]="pastry"></app-pastry>
  </div>
</div>

  <!-- Modal -->
<div class="modal fade" id="createNewPastryModal" tabindex="-1" role="dialog" aria-labelledby="createNewPastryModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="createNewPastryModalLabel">Новое изделие</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">Тип изделия</span>
            </div>
            <select class="form-control" id="typeSelector">
              <option *ngFor="let type of pastryTypes">{{type.name}}</option>
            </select>
          </div>
          <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Название изделия</span>
              </div>
              <input [(ngModel)]="newPastry.Name" type="text" class="form-control" aria-describedby="basic-addon1">
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">Дата производства</span>
            </div>
            <input [(ngModel)]="newPastry.ManufactureDate" type="text" class="form-control" aria-describedby="basic-addon1">
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">Срох хранения</span>
            </div>
            <input [(ngModel)]="newPastry.ShelfLife" type="text" class="form-control" aria-describedby="basic-addon1">
          </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Количество</span>
          </div>
          <input [(ngModel)]="newPastry.Quantity" type="text" class="form-control" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">Цена</span>
            </div>
          <input [(ngModel)]="newPastry.Price" type="text" class="form-control"aria-describedby="basic-addon1">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="CreatePastry()">Создать</button>
        </div>
      </div>
    </div>
  </div>

   <!-- Modal -->
<div class="modal fade" id="editPastryModal" tabindex="-1" role="dialog" aria-labelledby="editPastryModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editPastryModalLabel">Изменить изделие</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">Тип изделия</span>
            </div>
            <select class="form-control" id="editTypeSelector">
              <option *ngFor="let type of pastryTypes">{{type.name}}</option>
            </select>
          </div>
          <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Название изделия</span>
              </div>
              <input [(ngModel)]="editPastry.name" type="text" class="form-control" aria-describedby="basic-addon1">
          </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Количество</span>
          </div>
          <input [(ngModel)]="editPastry.quantity" type="text" class="form-control" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">Цена</span>
            </div>
          <input [(ngModel)]="editPastry.price" type="text" class="form-control"aria-describedby="basic-addon1">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="edit()">Изменить</button>
        </div>
      </div>
    </div>
  </div>