<!--Header-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/" routerLinkActive="active">
        <img src="assets/Logo.png" height="30" width="30" />
        Tasty Lary
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a *ngIf="isSignedIn" class="nav-item nav-link" routerLink="/pastries" routerLinkActive="active">Изделия</a>
        </div>
    </div>
    <form class="form-inline">
        <button *ngIf="!isSignedIn" class="btn btn-outline-light mr-sm-2" routerLink="/logIn" routerLinkActive="active">Войти</button>
        <button *ngIf="!isSignedIn" class="btn btn-outline-warning" routerLink="/signIn" routerLinkActive="active">Зарегистрироваться</button>
        <div    *ngIf="isSignedIn" class="btn btn-outline-warning mr-sm-2">{{authUser.Email}}</div>
        <button *ngIf="isSignedIn" class="btn btn-outline-light" (click)="logOff()">Выйти</button>
    </form>
</nav>  
<router-outlet></router-outlet>